
$main-font-stack: 'Roboto', 'Montserrat', 'Kaushan Script', sans-serif;
$main-font-size: 14px;
$main-font-height: 1.2;

$primary-white-color: #ffffff;

$primary-dark-color: #333333;
$secondary-dark-color: #999999;

$primary-orange-color: #fce38a;
$secondary-orange-color: #f38181;

$primary-bg-color: #95e1d3;

