
@media (max-width: 659px) {
   
    .substrate {
        height: 540px;
    }
.nav-list {       
        margin-bottom: 100px;
 
    }
.nav {
    flex-wrap: wrap-reverse;
    align-content: center; 
    justify-content: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
    .header-title {
        font-size: 30px;
    }

    .header-subtitle {
        font-size: 18px;
    }

    .header-button-find a{
 padding: 10px 50px;
    }

    
}
 
@media (min-width: 660px) {
    .container {
        width: 660px;
          }

    .substrate {
        height: 700px;
    }

    .meet-photos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 492px;
        margin: auto;
        padding: 0;
        text-align: center;
    }   
            
    .nav {
        align-items: baseline;
        flex-wrap: nowrap;
        justify-content: space-between;
        top: 20px;         
        left: 50%;
        transform: translateX(-50%);  
       
    }

    .header-text {
        width: 503px;
    }

    .header-title {
        font-size: 52px;
    }

    .header-subtitle {
        font-size: 24px;
    }

    .header-button-find a{
        padding: 10px 22px;
    }

    .see-other a{
        padding: 10px 30px;
    }

}

@media (min-width: 942px) {
    .container {
        width: 942px;
        margin: 0 auto;
        text-align: center;
    }

    .meet-photos {
        width: 942px;
        margin: auto;
        padding: 0;
        text-align: center;
        flex-wrap: nowrap;
    }

    .header-text {
        width: 503px;
    }
}

