*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    font-family: 'Roboto', 'Montserrat', 'Kaushan Script', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    text-align: center;
}


/*header*/
.header-substrate {
    background-image: linear-gradient(0deg,
            rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
        url(../img/header-img.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    height: 1000px;
    margin-bottom: 45px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header-substrate {
        background-image: linear-gradient(0deg,
                rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
            url(../img/header-img@2x.png);
    }
}


nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-height: 65px;
    margin: 0 0 110px;
    padding-top: 2px;
}

.logo a {
    font-size: 30px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
}

.site-menu__icon {
    display: block;
    width: 18px;
    height: 15px;
    fill: #ffffff;
}

.site-menu__icon:hover {
    fill: #fce38a;
}


.site-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.2;
    list-style: none;
    width: 491px;
    height: 65px;
}

.site-menu-item::after {
    content: '';
    background-color: #fce38a;
    display: none;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 10px;
    transition: width 200ms linear;
}

.site-menu-item {
    text-decoration: none;
    color: #ffffff;
    transition: color 200ms linear;
}

.site-menu-item:hover {
    color: #fce38a;
}

.site-menu-item:nth-child(-n+5):hover:after {
    width: 100%;
}

.site-menu__button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.header-text {
    width: 820px;
    text-align: center;
    padding-top: 150px;
    margin: 0 auto;
}

.header-text__subtitle {
    font-size: 72px;
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 40px;
}

.header-text__title {
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    margin-bottom: 120px;
}

.header-text__link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    padding: 8px 29px;
}

/* products */


.section__title {
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.7;
    font-weight: 400;
    margin: 0 auto;
}

.section__subtitle {
    width: 317px;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;


}

.section__subtitle::after {
    display: block;
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    content: '';
    margin: 0 auto;
    margin-top: 25px;
}


/*items*/



.digital {
    list-style: none;
    background: url(../img/icons/digital.png) no-repeat 0 4px;
    padding-left: 60px;
}

.css {
    list-style: none;
    background: url(../img/icons/css.png) no-repeat 0 4px;
    padding-left: 60px;
}

.seo {
    list-style: none;
    background: url(../img/icons/seo.png) no-repeat 0 4px;
    padding-left: 60px;
}

.creativity {
    list-style: none;
    background: url(../img/icons/creativity.png) no-repeat 0 4px;
    padding-left: 60px;
}

.design {
    list-style: none;
    background: url(../img/icons/webdesighn.png) no-repeat 0 4px;
    padding-left: 60px;
}

.photography {
    list-style: none;
    background: url(../img/icons/photography.png) no-repeat 0 4px;
    padding-left: 60px;
}

.product__item-title {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: 400;
    text-align: left;
    margin-bottom: 9px;
}

.product__items {
    padding: 65px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1151px;
    margin: 0 auto;
}

.product__item {
    max-width: 350px;
    flex: 0 0 360px;
    margin-bottom: 87px;
}

.product__item-text {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}

/*team section*/

.team__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
}

.team__item {
    width: 380px;
}


.team__img {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition: transform 200ms linear;
}

.team-substrate {
    position: relative;
    background-color: rgb(149, 225, 211);
    font-size: 0;
}

.socials {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity, transform 200ms linear;
    opacity: 0;
}

.team__item:hover .team__img,
.team__item:hover .socials {
    opacity: 1;
    transform: translate(-11px, -11px);
}

.social__buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.social__button svg {
    width: 27px;
    height: 27px;
    fill: #f38181;
    transition: fill 200ms linear;
}

.fb {
    padding-left: 7px;
}

.social__button a {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__button a:hover,
.social__button a:hover svg {
    fill: #ffffff;
    background-color: #f38181;
}

.social__button:not(:last-child) {
    border-right: 1px solid #f38181;
}

.team__text {
    max-width: 980px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    padding: 41px 0 88px;
    margin: 0 auto;
}

.team__name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
    padding-top: 27px;
}
.team__position {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
}


/*footer*/
.footer-row {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 3;

}

.footer-row a {
    color: #f38181;

}


.footer-form {
    font-size: 0;
}

input {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(5, 5, 5);
    padding-left: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    width: 234px;
    height: 44px;
}

input::placeholder {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;

}

.footer-button {
    border: none;
    background-color: rgb(149, 225, 211);
    width: 154px;
    height: 44px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

footer:before {
    display: block;
    background-color: rgb(229, 229, 229);
    width: 1200px;
    height: 1px;
    content: '';
    margin: 80px 0 10px;

}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden
}