.team__item {
    width: 380px;

&:hover .team__img,
&:hover .socials {
    opacity: 1;
    transform: translate(-11px, -11px);
}
}


.team__img {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition: transform 200ms linear;
}

.team-substrate {
    position: relative;
    background-color: $primary-bg-color;
    font-size: 0;
}

.team__text {
    max-width: 980px;
    font-size: 15px;
    font-family: "Roboto";
    color: $secondary-dark-color;
    line-height: 1.6;
    padding: 41px 0 88px;
    margin: 0 auto;
}

.team__name {
    font-size: 14px;
    font-family: "Montserrat";
    color: $primary-dark-color;
    text-transform: uppercase;
    font-weight: 400;
    line-height: $main-font-height;
    text-align: center;
    margin-bottom: 12px;
    padding-top: 27px;
}

.team__position {
    font-size: 15px;
    font-family: "Roboto";
    color: $secondary-dark-color;
    font-style: italic;
    line-height: 1.6;
}
